<%- include('includes/header') %>
<div class="container">
    <h2 class="text-center">Rick and Morty Episodes: <%= totalCount %></h1>
    <hr>
    <div class="row"> 
        <%- include('forms/episodesSearch') %>
        <%- include('includes/pagination') %>
    </div>
    <table class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Episode</th>
                <th>Air Date</th>
            </tr>
        </thead>
        <tbody>
            <% episodes.forEach(episode => { %>
            <tr>
                <td><%= episode.name %></td>
                <td><%= episode.episode %></td>
                <td><%= episode.air_date %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('includes/footer') %>