<%- include('includes/header') %>
<div class="container">
    <h2 class="text-center">Rick and Morty Reviews</h1>
    <hr>
    <table class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Episode ID</th>
                <th>Reviews</th>
                <th>Ratings</th>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(review => { %>
            <tr>
                <td><%= review.id %></td>
                <td><%= review.title %></td>
                <td><%= review.episode_id %></td>
                <td><%= review.review %></td>
                <td><%= review.rating %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('includes/footer') %>